<div class="dash-flex-wrapper">

<div class="dash-logo"></div>

<button ng-mouseover=DC.PlaySound.play() class="btn btn-purple dash-btn"type="button" name="button">PLAY!</button>

  <!-- <img class="dash-logo"src="styles/TempLogo.png" alt="When I Read Logo"> -->
  <!-- <div class="dash-logo"></div> -->





  <!-- <p ng-mouseover=DC.PlaySound.play() id="bt" >
  Mouse over to Play Sound
  </p> -->

  <!-- <p ng-mouseover=DC.mouseOver('B') > Mouse Over Test </p> -->


<!-- <div class="Input-wrapper">
    <input type="text" name="" placeholder="Enter a Word to Practice">
    this needs to be hooked up to db save
     <button type="button" name="button">Save</button>
</div> -->

</div>
