<div class="flex-toy-wrapper">
  <div class="toy-button-wrapper">
    <button ng-click='TC.toyClick()' type="button" class="btn btn-purple">PLAY!</button>
  </div>
  <div class="toy-text-wrapper">
    <h4>The Word is: {{TC.word}}</h4>
  </div>
</div>

<div class="flex-wrapper">
   <a ng-repeat='array in TC.toyLetters' href="" class="one">
    <div class="overlay">
      <div class="overlay-inner">
        <h2 class="animated infinite jello">{{array.letter}}</h2>
          <p>This will make a {{array.sound}} sound</p>
      </div>
    </div>
  </a>
</div>
