<div class="flex-toy-wrapper">
  <img class="small-logo" src="/styles/680.png" alt="">
    <div class="toy-button-wrapper">
      <button ng-click='WC.worldClick()' type="button" class="btn btn-purple">PLAY!</button>
        </div>
      <div class="toy-text-wrapper">
    <h4 class="animated bounceInUp">The Word is: {{WC.word}}</h4>
  </div>
</div>
<div class="flex-wrapper">
   <a ng-repeat='array in WC.worldLetters' href="" ng-mouseover="WC.PlaySound(array.sound)" class="three"
    ng-mouseleave="TC.StopSound(array.sound)">
      <div class="overlay">
          <div class="overlay-inner">
        <h1 class="letter-text animated infinite tada">{{array.letter}}</h1>
      </div>
    </div>
  </a>
</div>
